.loginCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  background-color: white;

  .login_intro {
    width: 40%;

    .title {
      margin-bottom: 30px;
      color: #4f4f4f;
      font-weight: 700;
      font-size: 48px;
    }

    .sub {
      color: #4f4f4f;
      font-size: 18px;

      .register {
        color: #4565e8;
        font-weight: 600;
      }
    }

    .banner {
      width: 80%;
      margin: auto;
      margin-top: 60px;
    }
  }
}

.login_form_container {
  width: 100%;
  text-align: center;

  .login_form {
    text-align: center;
  }
  .formContainer {
    width: 100%;
    margin-top: 30px;

    :global {
      .ant-input-affix-wrapper {
        height: 48px;
        color: #cbd5e0;
        font-weight: 400;
        font-size: 14px;
        font-family: PingFangSC-Regular, PingFang SC;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(203, 213, 224, 1);
        border-radius: 8px;
      }

      .ant-input-prefix {
        display: none;
      }
    }

    .section {
      height: 48px;
      margin-top: 40px;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(203, 213, 224, 1);
      border-radius: 8px;
    }

    .changeContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .changeFunc {
      display: inline-block;
      width: 70px;
      height: 22px;
      margin: 0 0 20px 4px;
      color: rgba(62, 79, 109, 1);
      font-size: 14px;
      font-family: PingFangSC-Regular;
      line-height: 22px;
      white-space: nowrap;
      text-align: left;
      overflow-wrap: break-word;
      cursor: pointer;
    }
  }
}

.other_sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 48px;
  margin: auto;
}

.actions {
  cursor: pointer;
}

.forget {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .return {
    width: 160px;
    height: 48px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(203, 213, 224, 1);
    border-radius: 8px;
    .returnWords {
      display: block;
      width: 64px;
      height: 24px;
      margin: 0 auto;
      color: rgba(40, 53, 74, 1);
      font-size: 16px;
      font-family: PingFangSC-Medium;
      line-height: 24px;
      white-space: nowrap;
      text-align: center;
      overflow-wrap: break-word;
    }
  }

  .confrim {
    width: 160px;
    height: 48px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    line-height: 24px;
    background-color: var(--themeColorPrimary);
    border-color: var(--themeColorPrimary);
    border-radius: 8px;

    .confrimWords {
      display: block;
      width: 48px;
      height: 24px;
      margin: 0 auto;
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-family: PingFangSC-Medium;
      line-height: 24px;
      white-space: nowrap;
      text-align: center;
      overflow-wrap: break-word;
    }
  }
}
